<nav class="bg-gray-300 border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
    <div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">
      <button type="button" onclick="toggleDropdown()" class="inline-flex items-center font-medium justify-center px-3 py-1 text-xs text-gray-900 dark:text-gray rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg class="w-4 h-4 rounded-full me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3900 3900"><path fill="#b22234" d="M0 0h7410v3900H0z"/><path d="M0 450h7410m0 600H0m0 600h7410m0 600H0m0 600h7410m0 600H0" stroke="#fff" stroke-width="300"/><path fill="#3c3b6e" d="M0 0h2964v2100H0z"/><g fill="#fff">...</g></svg>
        English (US)
      </button>
      <div class="z-50 hidden my-2 text-xs list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" id="language-dropdown-menu">
        <ul class="py-1 font-medium" role="none">
          <li>
            <a href="#" class="block px-2 py-1 text-xs text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
              <div class="inline-flex items-center">
                <svg aria-hidden="true" class="h-3 w-3 rounded-full me-1" xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-us" viewBox="0 0 512 512"><g fill-rule="evenodd">...</g></svg>
                English (US)
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block px-2 py-1 text-xs text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
              <div class="inline-flex items-center">
                <svg class="h-3 w-3 rounded-full me-1" xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-de" viewBox="0 0 512 512"><path fill="#ffce00" d="M0 341.3h512V512H0z"/><path d="M0 0h512v170.7H0z"/><path fill="#d00" d="M0 170.7h512v170.6H0z"/></svg>
                Deutsch
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block px-2 py-1 text-xs text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
              <div class="inline-flex items-center">
                <svg class="h-3 w-3 rounded-full me-1" xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-it" viewBox="0 0 512 512"><g fill-rule="evenodd">...</g></svg>
                Italiano
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block px-2 py-1 text-xs text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
              <div class="inline-flex items-center">
                <svg class="h-3.5 w-3.5 rounded-full me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="flag-icon-css-cn" viewBox="0 0 512 512"><defs><path id="a" fill="#ffde00" d="M1-.3L-.7.8 0-1 .6.8-1-.3z"/></defs><path fill="#de2910" d="M0 0h512v512H0z"/><use width="30" height="20" transform="matrix(76.8 0 0 76.8 128 128)" xlink:href="#a"/><use width="30" height="20" transform="rotate(-121 142.6 -47) scale(25.5827)" xlink:href="#a"/><use width="30" height="20" transform="rotate(-98.1 198 -82) scale(25.6)" xlink:href="#a"/><use width="30" height="20" transform="rotate(-74 272.4 -114) scale(25.6137)" xlink:href="#a"/><use width="30" height="20" transform="matrix(16 -19.968 19.968 16 256 230.4)" xlink:href="#a"/></svg>
                中文 (繁體)
              </div>
            </a>
          </li>
        </ul>
      </div>
      <script>
        function toggleDropdown() {
          const dropdown = document.getElementById('language-dropdown-menu');
          dropdown.classList.toggle('hidden');
        }
      </script>
      <button data-collapse-toggle="navbar-language" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-language" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 text-gray-800" id="navbar-language">
    <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0">
      <li>
        <a asp-controller="Home" asp-action="Index" class="inline-flex items-center font-bold  justify-center px-4 py-2 text-sm md:hover:text-blue-700 dark:text-gray-700 md:dark:hover:text-white-500 text-gray-800 rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300" aria-current="page"> <i class="fas fa-home mr-2"></i>Anasayfa</a>
      </li>
      <li>
        <a asp-controller="Doctor" asp-action="Login" class="inline-flex items-center font-bold  justify-center px-4 py-2 text-sm md:hover:text-blue-700 dark:text-gray-700 md:dark:hover:text-white-500 text-gray-800 rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300"><i class="fas fa-user-md mr-2"></i>Doktor Giriş</a>
      </li>
      <li>
        <a asp-controller="Patient" asp-action="Login" class="inline-flex items-center font-bold  justify-center px-4 py-2 text-sm md:hover:text-blue-700 dark:text-gray-700 md:dark:hover:text-white-500 text-gray-800 rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300"><i class="fas fa-user mr-2"></i>Hasta Giriş</a>
      </li>
      <li>
        <a asp-controller="Appointment" asp-action="Create" class="inline-flex items-center font-bold  justify-center px-4 py-2 text-sm md:hover:text-blue-700 dark:text-gray-700 md:dark:hover:text-white-500 text-gray-800 rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300"> <i class="fas fa-calendar-check mr-2"></i>Randevu Oluştur</a>
      </li>
      <li>
        <a asp-controller="Contact" asp-action="Contact" class="inline-flex items-center font-bold  justify-center px-4 py-2 text-sm md:hover:text-blue-700 dark:text-gray-700 md:dark:hover:text-white-500 text-gray-800 rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300"><i class="fas fa-phone-volume mr-2"></i>İletişim</a>
      </li>
  </ul>
  <div class="relative text-gray-600 ml-36">
    <input type="search" name="serch" placeholder="Search" class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none">
    <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
      <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
      </svg>
    </button>
  </div>
  </div>
  </div>
  <div class="navbar-end md:hidden">
    <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
            <i class="fas fa-user-circle text-4xl"></i>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li><a asp-controller="Patient" asp-action="Login">
                <i class="fas fa-sign-in-alt mr-2"></i>Hasta Girişi
            </a></li>
            <li><a asp-controller="Doctor" asp-action="Login">
                <i class="fas fa-user-md mr-2"></i>Doktor Girişi
            </a></li>
            <li><a asp-controller="Patient" asp-action="Register">
                <i class="fas fa-user-plus mr-2"></i>Kayıt Ol
            </a></li>
        </ul>
    </div>
</div>
</nav>
