<div class="h-screen md:flex">
	<div class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-800 justify-around items-center hidden">
		<div>
			<p style="text-align: center; text-transform: uppercase; letter-spacing: .5em; display: inline-block; border: 4px double rgba(255,255,255,.25); border-width: 4px 0; padding: 1.5em 0em; position: absolute; top: 50%; left: 50%; width: 100%; margin: -5em 0 0 -50%; transform: translateY(-50%);">
				Giray Hastanesi
				<span style="font: 700 1.2em/1 'Oswald', sans-serif; letter-spacing: 0; padding: .0005em 0 .0005em; display: block; margin: 0 auto; text-shadow: 0 0 80px rgba(255,255,255,.5); background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y; -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; -webkit-animation: aitf 80s linear infinite; -webkit-transform: translate3d(0,0,0); -webkit-backface-visibility: hidden;">
					Şimdi kaydolun
				</span>
				&mdash; Uygulamamıza Tam Erişim Sağlayın &mdash;
			</p>
		</div>
		<!--Çemberler -->
		<div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
	</div>
	
	
	<div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
		<form class="form">
			<p class="title">Kayıt Ol!</p>
			<div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
				<input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Full name" />
			</div>
			<div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
				<input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Username" />
			</div>
			<div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
				<input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Email Address" />
			</div>
			<div class="flex items-center border-2 py-2 px-3 rounded-2xl">
				<input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Password" />
			</div>
			<button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Login</button>
			<span class="text-sm ml-2 hover:text-blue-500 cursor-pointer">Forgot Password ?</span>
		</form>
	</div>
</div>