@{
    ViewData["Title"] = "Home Page";
}

<div class="container mb-96">
    <div class="slide">
        <div class="item" style="background: url('/img/img_1.jpg'); background-size: cover;">
            <div class="content" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 15px;">
                <div class="name" style="font-size: 2em; font-weight: bold;">Evde Sağlık Hizmeti</div>
                <div class="description">Sağlığınız için konforlu bir yaklaşım sunuyoruz; uzman ekibimiz, ihtiyaç duyduğunuz tıbbi bakımı evinizin rahatlığında size ulaştırıyor.</div>
                <button class="framed-button">Daha Fazlasını Gör</button>
            </div>
        </div>

        <div class="item" style="background: url('/img/img_2.jpg'); background-size: cover;">
            <div class="content" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 15px;">
                <div class="name" style="font-size: 2em; font-weight: bold;">Diş Hekimliği</div>
                <div class="description">Sağlıklı ve güzel bir gülümseme için uzman diş hekimlerimizle en son teknolojileri kullanarak kapsamlı ağız ve diş sağlığı hizmetleri sunuyoruz.</div>
                <button class="framed-button">Daha Fazlasını Gör</button>
            </div>
        </div>

        <div class="item" style="background: url('/img/img_3.jpg'); background-size: cover;">
            <div class="content" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 15px;">
                <div class="name" style="font-size: 2em; font-weight: bold;">Veteriner</div>
                <div class="description">Sevimli dostlarınızın sağlığını önemsiyoruz; uzman veteriner ekibimizle, kapsamlı bakım ve tedavi hizmetleri sunarak onların mutluluğunu ve sağlığını destekliyoruz.</div>
                <button class="framed-button">Daha Fazlasını Gör</button>
            </div>
        </div>

        <div class="item" style="background: url('/img/img_4.jpg'); background-size: cover;">
            <div class="content" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 15px;">
                <div class="name" style="font-size: 2em; font-weight: bold;">Yoğun Bakım</div>
                <div class="description">Hayati durumlarda en üst düzeyde özen ve uzmanlıkla donatılmış yoğun bakım ünitemiz, hastalarımızın ihtiyaçlarına anında cevap verecek şekilde hizmetinizde.</div>
                <button class="framed-button">Daha Fazlasını Gör</button>
            </div>
        </div>

        <div class="item" style="background: url('/img/img_5.jpg'); background-size: cover;">
            <div class="content" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 15px;">
                <div class="name" style="font-size: 2em; font-weight: bold;">Ameliyathane</div>
                <div class="description">Modern teknolojiyle donatılmış ameliyathanelerimizde, uzman cerrahlarımızla güvenli ve başarılı operasyonlar için yanınızdayız.</div>
                <button class="framed-button">Daha Fazlasını Gör</button>
            </div>
        </div>

        <div class="item" style="background: url('/img/img_6.jpg'); background-size: cover;">
            <div class="content" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 15px;">
                <div class="name" style="font-size: 2em; font-weight: bold;">Psikiyatri</div>
                <div class="description">Ruh sağlığınızı önemsiyoruz; deneyimli psikiyatristlerimizle bireysel ihtiyaçlarınıza uygun, destekleyici ve çözüm odaklı tedavi hizmetleri sunuyoruz.</div>
                <button class="framed-button">Daha Fazlasını Gör</button>
            </div>
        </div>
    </div>
    <div class="button">
        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
</div>
    <script src="main.js"></script>
<script>
        let next = document.querySelector('.next');
        let prev = document.querySelector('.prev');

        next.addEventListener('click', function() {
            let items = document.querySelectorAll('.item');
            document.querySelector('.slide').appendChild(items[0]);
        });

        prev.addEventListener('click', function() {
            let items = document.querySelectorAll('.item');
            document.querySelector('.slide').prepend(items[items.length - 1]);
        });
    </script>