@page
@model MVC.Appointy.Views.Footer.Hakkimizda
@{
    ViewData["Title"] = "Hakkimizda";
}

<h1>@ViewData["Title"]</h1>


<div>
    Giray Hastanesi olarak, insan sağlığını her şeyin üzerinde tutan bir anlayışla, alanında uzman doktorlarımız, güler yüzlü sağlık personelimiz ve modern altyapımızla hizmet sunuyoruz.

    Kurulduğumuz günden bu yana, hastalarımızın ihtiyaçlarını en iyi şekilde karşılamak, doğru teşhis ve etkin tedavi yöntemleriyle sağlıklarına kavuşmalarına yardımcı olmak en büyük önceliğimiz oldu. Yenilikçi sağlık teknolojilerini kullanarak, bireysel hasta odaklı bir hizmet anlayışı benimsiyor ve her hastamızın kendini güvende hissetmesini sağlıyoruz.

    Misyonumuz, sağlık hizmetlerini yüksek kalite standartlarında, etik değerlere bağlı kalarak sunmak; vizyonumuz ise, sadece bulunduğumuz bölgede değil, ulusal düzeyde örnek gösterilen bir sağlık kuruluşu olmaktır.

    Sağlıklı yarınlar için buradayız, sizin için varız.
</div>