@model MVC.Appointy.Models.Patient 
@{
    ViewData["Title"] = "Giriş Yap";
}

<div class="container">
    <h2>Hasta Girişi</h2>
    <form method="post" asp-action="Login" asp-controller="Patient">
        <input type="text" class="email" name="Email" placeholder="E-Posta" required>
        <br/>
        <input type="password" class="pwd" name="Password" placeholder="Şifre" required>
        <br/>
        <button type="submit" class="signin">Giriş Yap</button>
    </form>
    <a href="#" class="link">Şifremi Unuttum?</a>
    <br/>
    <button class="register">
        <a asp-controller="Patient" asp-action="Register">Kayıt Ol</a>
    </button>
</div>

<script>
  $(document).ready(() => {
    /*------- button with class register -------*/
    let reg_btn = $('.container .register')

    /*------- button with class sign in --------*/
    let sig_btn = $('.container .signin')

    /*------- back button ----------------------*/
    let back_btn = $('.container .back')


    reg_btn.click(function(e){
      e.preventDefault()
      $(this).siblings('.reg').css({
        'transform':'translateY(40%) scale(5)',
        'border-radius':'0',
        'width':'100%',
        'height':'100%'
      }).end();


      reg_btn.siblings('.container h3:nth-of-type(1)').css({
        'top':'40%',
        'z-index':'8',
      }).end().end();
    });

    sig_btn.on('click',function(e){
      e.preventDefault();
      $(this).siblings('.sig').css({
        'transform':'translateY(40%) scale(5)',
        'border-radius':'0',
        'width':'100%',
        'height':'100%'
      }).end();


      sig_btn.siblings('.container h3:nth-of-type(2)').css({
        'top':'40%',
        'z-index':'8',
      }).end().end();

    });
  });

</script>