@model Patient

@{
    ViewData["Title"] = "Kayıt Ol";
}

<form class="form">
    <p class="title">Kayıt Ol</p>
    <p class="message">Şimdi kaydolun ve uygulamamıza tam erişim sağlayın.</p>
    <div class="flex">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Adı</span>
        </label>

        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Soyadı</span>
        </label>
    </div>
    <label>
        <input class="input" type="tcKimlikNo" placeholder="" required="">
        <span>T.C. Kimlik No</span>
    </label>
    <div>
        <label for="Gender">Cinsiyet:</label>
        <select id="Gender" name="Gender" required>
            <option value="">Seçiniz</option>
            <option value="Male">Erkek</option>
            <option value="Female">Kadın</option>
            <option value="Other">Diğer</option>
        </select>
    </div>
    <label>
        <input class="input" type="date" placeholder="" required="">
        <span>Doğum Tarihi</span>
    </label>
    <label>
        <input class="input" type="email" placeholder="" required="">
        <span>E-Posta</span>
    </label>

    <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Şifre</span>
    </label>
    <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Şifre Tekrar</span>
    </label>
    <button class="submit">KAYIT OL</button>
    <p class="signin">Zaten hesabınız var mı? Giriş yapın.<a class="link" asp-area="" asp-controller="Patient" asp-action="Login">GİRİŞ YAP</a> </p>
</form>