[b-0dkmcpxvzk]::selection {
    background-color: gray;
}

.container[b-0dkmcpxvzk] {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form[b-0dkmcpxvzk] {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(to bottom, #424242, #212121);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
}

.title[b-0dkmcpxvzk] {
    color: wheat;
    margin: 3rem 0;
    font-size: 2rem;
}

.input[b-0dkmcpxvzk] {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: wheat;
    border: none;
    outline: none;
    border-bottom: 1px solid wheat;
    transition: all 400ms;
}
.input:hover[b-0dkmcpxvzk] {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
}
.btn[b-0dkmcpxvzk] {
    height: 3rem;
    width: 20rem;
    margin-top: 3rem;
    background-color: wheat;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    cursor: pointer;
    box-shadow:
            0 0 10px antiquewhite,
            0 0 10px antiquewhite;
}
.btn:hover[b-0dkmcpxvzk] {
    background-color: antiquewhite;
    box-shadow: none;
}
