@model Appointment

@{
ViewData["Title"] = "Appointment Create";
}

<div class="container mx-auto p-4">
    <h2 class="text-2xl font-semibold mb-4">Randevu Oluştur</h2>
    <form method="post" asp-action="SaveAppointment" asp-controller="Patient" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <input type="hidden" name="patientId" value="" />
        <div class="mb-4">
            <label for="Specialty" class="block text-gray-700 text-sm font-bold mb-2">Klinik Seçiniz:</label>
            <select id="Specialty" name="specialty" required class="select select-bordered w-full">
                <option value="">Select...</option>
                @* @foreach (var specialty in Model.Specialty) *@
                @* { *@
                @*     <option value="@specialty">@specialty</option> *@
                @* } *@
            </select>
        </div>
        <div class="mb-4">
            <label for="Doctor" class="block text-gray-700 text-sm font-bold mb-2">Doktor Seçiniz:</label>
            <select id="Doctor" name="doctorName" required class="select select-bordered w-full">
                <option value="">Select...</option>
                <!-- Doctors will be populated here based on the selected department -->
            </select>
        </div>
        <div class="mb-4">
            <label for="AppointmentDate" class="block text-gray-700 text-sm font-bold mb-2">Randevu Zamanı Seçiniz:</label>
            <input type="date" id="AppointmentDate" name="appointmentDate" required class="input input-bordered w-full" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-full">Randevu Al</button>
        </div>
    </form>
</div>